<div class="page-header">
  <%= link_to challenges_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_challenge_path(@challenge), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show challenge</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @challenge.name %></dd>

  <dt>Description:</dt>
  <dd><%= @challenge.description %></dd>

  <dt>Raw content:</dt>
  <dd><%= @challenge.raw_content %></dd>

  <dt>Language:</dt>
  <dd><%= @challenge.language %></dd>

  <dt>Point:</dt>
  <dd><%= @challenge.point %></dd>

</dl>
